In [6]:
import numpy as np
import pandas as pd
import os

Agrupa todos os dados em um só e exporta um compilado

In [17]:
files = [file for _, _, file in os.walk("./dados/")][0]
dados = [p for p in files if p.endswith("csv")]
dados

TypeError: can only concatenate str (not "list") to str

In [18]:
focos = pd.DataFrame()
for path in dados:
    focos = pd.concat([pd.read_csv("./dados/"+path), focos])

In [19]:
focos

,datahora,satelite,pais,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
0,2001/01/01 20:09:34,NOAA-12,Brasil,PARA,ULIANOPOLIS,Amazonia,NaN,NaN,NaN,-3.79167,-47.0933,NaN
1,2001/01/01 20:09:34,NOAA-12,Brasil,CEARA,MAURITI,Caatinga,NaN,NaN,NaN,-7.38167,-38.6317,NaN
2,2001/01/01 20:09:34,NOAA-12,Brasil,PARAIBA,MONTEIRO,Caatinga,NaN,NaN,NaN,-7.91167,-37.2800,NaN
3,2001/01/01 20:09:34,NOAA-12,Brasil,PARA,PARAGOMINAS,Amazonia,NaN,NaN,NaN,-2.86000,-47.2483,NaN
4,2001/01/01 20:09:34,NOAA-12,Brasil,PARAIBA,SANTA LUZIA,Caatinga,NaN,NaN,NaN,-6.88833,-36.8017,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
393963,2008/01/01 17:33:00,AQUA_M-T,Brasil,MATO GROSSO,QUERENCIA,Amazonia,NaN,NaN,NaN,-12.12400,-52.5560,NaN
393964,2008/01/01 17:34:00,AQUA_M-T,Brasil,MATO GROSSO,QUERENCIA,Amazonia,NaN,NaN,NaN,-11.72900,-52.7230,NaN
393965,2008/01/01 17:34:00,AQUA_M-T,Brasil,MATO GROSSO,SAO FELIX DO ARAGUAIA,Amazonia,NaN,NaN,NaN,-11.19000,-52.5020,NaN
393966,2008/01/01 17:38:00,AQUA_M-T,Brasil,RORAIMA,UIRAMUTA,Amazonia,NaN,NaN,NaN,4.35100,-60.4400,NaN
393967,2008/01/01 17:38:00,AQUA_M-T,Brasil,RORAIMA,NORMANDIA,Amazonia,NaN,NaN,NaN,3.99100,-60.3290,NaN

In [20]:
focos = focos.sort_values(by="datahora")

In [21]:
focos = focos.dropna(subset=["frp"])

In [22]:
focos.to_csv("Focos.csv", index=None)